{% extends "monitor/base.html" %}
{% load static %}

{% block title %}Мониторинг сайтов{% endblock %}

{% block header_title %}
Мониторинг сайтов
{% endblock %}

{% block content %}

    <!-- Карточки статистики -->
    {% include "monitor/components/stats_cards.html" %}

    <!-- Таблица -->
    <div class="bg-white shadow rounded-xl overflow-hidden">
        <table class="min-w-full">
            <thead class="bg-gray-50">
            <tr>
                <th class="px-4 py-3 text-left text-sm font-semibold text-gray-700">Название</th>
                <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">Статус</th>
                <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">Время ответа</th>
                <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">SSL</th>
                <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">Домен (дней осталось)</th>
                <th class="px-4 py-3 text-center text-sm font-semibold text-gray-700">Последняя проверка</th>
                <th class="px-4 py-3 text-right text-sm font-semibold text-gray-700">Проверить</th>
                <th class="px-4 py-3 text-right text-sm font-semibold text-gray-700">Подробнее</th>
                <th class="px-4 py-3 text-right text-sm font-semibold text-gray-700">Удалить</th>
            </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
            {% for site in sites %}
                {% if site.last_status_code < 300 %}
                    {% with "text-green-600" as status_color %}
                        {% include "monitor/components/table_row.html" %}
                    {% endwith %}
                {% elif site.last_status_code < 500 %}
                    {% with "text-yellow-600" as status_color %}
                        {% include "monitor/components/table_row.html" %}
                    {% endwith %}
                {% else %}
                    {% with "text-red-600" as status_color %}
                        {% include "monitor/components/table_row.html" %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
