<div class="grid md:grid-cols-3 gap-6 mt-6">

    <!-- 24h -->
    <div class="bg-white rounded-2xl shadow p-5 text-center">
        <h2 class="text-sm uppercase tracking-wide text-slate-500 mb-2">
            Аптайм 24 часа
        </h2>

        {% if uptime_24h != None %}
            <div class="text-4xl font-bold
                {% if uptime_24h > 99 %} text-green-600
                {% elif uptime_24h > 95 %} text-yellow-600
                {% else %} text-red-600 {% endif %}">
                {{ uptime_24h }}%
            </div>

            <div class="text-xs text-slate-500 mt-2">
                {% if uptime_24h == 100 %}
                    Без сбоев
                {% elif uptime_24h > 95 %}
                    Почти стабильно
                {% else %}
                    Есть проблемы
                {% endif %}
            </div>
        {% else %}
            <div class="text-gray-500">нет данных</div>
        {% endif %}
    </div>

    <!-- 7d -->
    <div class="bg-white rounded-2xl shadow p-5 text-center">
        <h2 class="text-sm uppercase tracking-wide text-slate-500 mb-2">
            Аптайм 7 дней
        </h2>

        {% if uptime_7d != None %}
            <div class="text-4xl font-bold
                {% if uptime_7d > 99 %} text-green-600
                {% elif uptime_7d > 95 %} text-yellow-600
                {% else %} text-red-600 {% endif %}">
                {{ uptime_7d }}%
            </div>

            <div class="text-xs text-slate-500 mt-2">
                {% if uptime_7d == 100 %}
                    Без сбоев
                {% elif uptime_7d > 95 %}
                    Почти стабильно
                {% else %}
                    Есть проблемы
                {% endif %}
            </div>
        {% else %}
            <div class="text-gray-500">нет данных</div>
        {% endif %}
    </div>

    <!-- 30d -->
    <div class="bg-white rounded-2xl shadow p-5 text-center">
        <h2 class="text-sm uppercase tracking-wide text-slate-500 mb-2">
            Аптайм 30 дней
        </h2>

        {% if uptime_30d != None %}
            <div class="text-4xl font-bold
                {% if uptime_30d > 99 %} text-green-600
                {% elif uptime_30d > 95 %} text-yellow-600
                {% else %} text-red-600 {% endif %}">
                {{ uptime_30d }}%
            </div>

            <div class="text-xs text-slate-500 mt-2">
                {% if uptime_30d == 100 %}
                    Без сбоев
                {% elif uptime_30d > 95 %}
                    Почти стабильно
                {% else %}
                    Есть проблемы
                {% endif %}
            </div>
        {% else %}
            <div class="text-gray-500">нет данных</div>
        {% endif %}
    </div>

</div>
